*{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color:white;
}

h1{
    text-align: center;
    text-transform: uppercase;
    margin:1rem auto;
}

.container_data{
    width: 95%;
    position:relative;
    margin-left: 2%;
    margin-top: 20%;
    border:1px solid red;
    padding:1rem;
}

/* .form_data{
    position: absolute;
} */

.icon_data{
    color:blueviolet;
    width: 2.5rem;
    text-align: left;
    padding:1rem;
    margin-top:-0.8rem;
    font-size: 1.3rem;
}

.input_data{
    width: 82%;
    font-size: 1rem;
    text-align: center;
}

input[type="text"],input[type="email"],input[type="password"]{
  padding:.4rem;
  margin-bottom:.6rem;
  border-radius: 1rem;
  cursor: pointer;
}

/* BUTTON */
#button_group{
    margin-left:4rem;
    margin-top:1rem;
    margin-bottom:1rem;
}

button[type="submit"],input[type="reset"]{
    background:#070ee4 ;
    color: white;
    padding:.5rem 1rem .4rem 1rem;
    border-radius: 10%;
    margin-right: 0.8rem;
    width: 39%;
}

button[type="submit"]:hover,input[type="reset"]:hover{
    box-shadow: 1px 1px 4px .5px rgba(255,255,255,0.8);
    transition: 3s all;
}